<html>
    <head>
            <script src="/js/jquery-1.8.0.min.js"></script>

            <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" charset=“utf-8”>
            
            
            <script src="/js/bootstrap.min.js"></script>
            
    </head>
    <body>

            <h1>错误：<%=stat%></h1>
           
            <div class="col-md-10"> <p><%=errMsg%></p></div>
    </body>
</html>


