<script src="/js/jquery-1.8.0.min.js"></script>
<style src="/css/bootstrap.min.css"></style>
<script src="/js/bootstrap.min.js"></script>



<h1>出错</h1>
<div class="container" id="123">

</div>

<script>
$(function(){

$('#123').html('123');

})

</script>