<header class="bar bar-nav">

    <h1 class="title">交警系统</h1>
</header>
<nav class="bar bar-tab">
    <a class="tab-item active external" href="/">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>

    <a class="tab-item external" href="/user_view/my_case">
        <span class="icon icon-card"></span>
        <span class="tab-label">我的申请</span>
    </a>
    <a class="tab-item external" href="/user_view/my_info">
        <span class="icon icon-me"></span>
        <span class="tab-label">个人信息</span>
    </a>
</nav>