<!DOCTYPE html>
<html>

<head>
    <title>交警系统_用户表单提交流程</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <!-- <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" charset=“utf-8”>
    <script src="/js/bootstrap.min.js"></script> -->
    <script src="/js/vue.js"></script>

    <link rel="stylesheet" href="/iconfonts/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/light7/dist/css/light7.min.css" type="text/css">
    <link rel="stylesheet" href="/iconfonts/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/css/buttons.css" type="text/css">
    <script type='text/javascript' src='/light7/dist/js/light7.min.js'></script>
    <script src="/js/ajaxfileupload.js"></script>

    <style>
        input[type=button].button {
            width: auto;
        }
    </style>

</head>

<body>


    <div class="page-group">


        <!-- 首页 -->
        <div class="page page-current" id="homerouter">
            <div id="headerfooter">
                <simple-header ti="表单提交"></simple-header>
                <simple-footer></simple-footer>
            </div>
            <div class="content">
                <form id="USER_FORM_SUBMIT" action="/user_view/case/user_form_submit" method="POST" enctype="multipart/form-data">
                    <div class="list-block">
                        <ul id='sub_form_list'>
                            <common-list v-bind:params="item" v-for="item in items"></common-list>

                        </ul>

                    </div>
                </form>
            </div>
        </div>


</body>

<script src="/custom_js/getRequest.js"></script>

<script>
    var case_info = new Object();

    $(function () {
        var Request = new Object();

        Request = GetRequest();
        //通过类获取该url的node_id
        var case_node_id = Request["id"];
        var case_progres_id = Request["progress"];
        //初始化，读取case_node信息
        $.ajax({
            type: "get",
            url: '/user_view/case/getUserSubForm',
            data: { "case_node_id": case_node_id },
            dataType: "json",
            success: function (data) {
                case_info = data;
                data.UserSubForm.forEach(function (form_item) {
                    k.items.push(form_item);
                });
                //新增申请特殊处理,仅适用于没创建caseprogress情况
                if (data.node_cate == "start") {
                    //添加一个提交按钮
                    k.items.push({ type: "submit", label: "提交", value: "提交申请" });
                    //显示一个noti框用于第一次提交的人显示须知
                    var newmodal = $.modal({
                        title: data.notification_title,
                        afterText: data.notification,
                        buttons: [
                            {
                                text: '取消申请',

                                onClick: function () {
                                    history.back();
                                }
                            },
                            {
                                text: '阅读完毕',
                                bold: true,
                                onClick: function () {
                                    
                                }
                            },
                        ]
                    });
                }
                else {
                    //添加一个提交按钮
                    k.items.push({ type: "submit", label: "提交", value: "提交填写" });
                    //添加一个隐藏输入，存储新增表单的case_progress_id
                    k.items.push({ type: "visi", id: "case_progress_id", value: case_progres_id });
                }
                //添加一个隐藏输入，存储新增表单的case_id
                k.items.push({ type: "visi", id: "case_id", value: data.case_id });
                //添加一个隐藏输入，存储新表单的case_node_id
                k.items.push({ type: "visi", id: "case_node_id", value: case_node_id });
            },
            error: function (data) {
                alert("操作出现错误" + data);
                console.log(data);
            }
        });
    });

    //表单提交的回调绑定
    jQuery("#USER_FORM_SUBMIT").ajaxForm(function (data) {
        if (typeof (data.code) == "undefined") {
            $.alert("出现严重错误");
        }
        if (data.Flag) {
            $.toast("上传成功");
        }
        else {
            $.toast("上传失败");
        }
    });


</script>
<!-- vue代码 -->
<!-- 标题页脚 -->
<script src="/component/simple_header.js"></script>
<script>
    new Vue({
        el: '#headerfooter',
        components: {

        },
    })
</script>
<!-- 引入自己编写的有关组件库 -->
<script src="/component/list_component.js"></script>
<script>
    // 简单做一下图标头和尾部

    var headerVue = new Vue({
        template: '<header class="bar bar-nav"><h1 class="title">{{title}}</h1></header>'
    });
</script>
<!-- 表单生成工厂 -->
<script>


    var k = new Vue({
        el: '#sub_form_list',
        components: {
            'common-list': CommonList,
        },
        data: function () {
            return {

                "items": []
            }
        },

    })
</script>

</html>