<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>交警系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
 

</head>

<body>

如果看到这行字，表示后台链接成功。可以测试一下几个api：
/user_menu/
/user_menu/dic
(post)/login  (phone_num,req.body.pwd)

</body>
<script>

</script>
<script>

</script>

</script>

</html>